.app-header{
    background-color: rgb(17, 208, 205);
    border-bottom: 3px solid rgb(0, 0, 0);
    height:  70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em black;
}
