.app-header{
    background-color: rgb(17, 208, 205);
    border-bottom: 3px solid rgb(0, 0, 0);
    height:  70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.button{
    display: inline-block;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
