.app-search{
    margin-bottom: 15px;
}

.app-search-input{
    width: 1350px;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid gray;
    -moz-box-align: center;

}