.lottery-post{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-self: center;
    align-items: center;
}

.lottery-post-bg{
    background-color: rgba(0, 0, 0, 0.807);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.lottery-post-content{
    position: relative;
    max-width: 1200px;
    background-color: rgb(4, 242, 246);
    margin-left: auto;
    margin-right: auto;
}

.lottery-post-content img{
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 120px);
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(3, 243, 235);
}

.lottery-post-content h3{
    color: rgb(90, 18, 18);
    text-align: center;
}
